Importing libraries fro data cleaning and preprocessing

In [253]:
import pandas as pd
import numpy as np

In [254]:
item_cat_df = pd.read_csv('dataset/annex1.csv')
sales_df = pd.read_csv('dataset/annex2.csv')
wholesale_df = pd.read_csv('dataset/annex3.csv')
avg_loss_df = pd.read_csv('dataset/annex4.csv')

In [255]:
item_cat_df

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables
...,...,...,...,...
246,106958851400125,Haixian Mushroom (Bag) (4),1011010801,Edible Mushroom
247,106971533450003,Haixian Mushroom (Bunch),1011010801,Edible Mushroom
248,106971533455008,Haixian Mushroom (Bag) (3),1011010801,Edible Mushroom
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),1011010801,Edible Mushroom
250,106973990980123,Hfyg Haixian Mushroom (Bunch),1011010801,Edible Mushroom

In [256]:
item_cat_df.columns = item_cat_df.columns.str.replace(" ", "_")

In [257]:
item_cat_df.isnull().sum()

Item_Code        0
Item_Name        0
Category_Code    0
Category_Name    0
dtype: int64

In [258]:
sales_df

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No
...,...,...,...,...,...,...,...
878498,2023-06-30,21:35:13.264,102900005115250,0.284,24.0,sale,No
878499,2023-06-30,21:35:14.358,102900011022764,0.669,12.0,sale,No
878500,2023-06-30,21:35:20.264,102900005115250,0.125,24.0,sale,No
878501,2023-06-30,21:35:21.509,102900011016701,0.252,5.2,sale,No
878502,2023-06-30,21:40:48.248,102900011022764,0.803,12.0,sale,No

In [259]:
sales_df.columns = sales_df.columns.str.replace(" ", "_")

In [260]:
sales_df.isnull().sum()

Date                           0
Time                           0
Item_Code                      0
Quantity_Sold_(kilo)           0
Unit_Selling_Price_(RMB/kg)    0
Sale_or_Return                 0
Discount_(Yes/No)              0
dtype: int64

In [261]:
for column in sales_df.columns:
    unique_values = sales_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

Unique values in column 'Date':
['2020-07-01' '2020-07-02' '2020-07-03' ... '2023-06-28' '2023-06-29'
 '2023-06-30']

Unique values in column 'Time':
['09:15:07.924' '09:17:27.295' '09:17:33.905' ... '21:35:20.264'
 '21:35:21.509' '21:40:48.248']

Unique values in column 'Item_Code':
[102900005117056 102900005115960 102900005115823 102900005115908
 102900005115779 102900011008522 102900005118824 102900005115984
 102900005116530 102900005116226 102900005116233 102900005115762
 102900005116714 102900005118817 102900011009970 102900005117209
 102900011001219 102900051004294 102900005116547 102900051000944
 102900005119975 102900005125815 102900005115786 102900051010455
 102900005116509 102900005116943 102900005116257 102900005125808
 102900005119944 102900011006948 102900005115793 102900005123880
 102900005115946 102900005118831 102900005116912 102900005116790
 102900011000328 102900011006689 102900011009444 102900011001813
 102900005116837 102900005116899 102900005115816 106956146480203
 102900005115861 106956146480197 102900011011546 102900011001806
 102900011001561 102900005116219 102900011000175 102900011007969
 102900011012994 102900011009246 102900011013274 102900011001691
 102900011008164 102900011010891 102900051000463 102900051009336
 102900005119968 102900011016909 102900011016701 102900005115885
 102900011007464 102900005115878 102900005119098 102900005115250
 102900011012871 102900011010563 102900011007044 106931885000035
 102900005118572 102900005115854 102900011018095 102900005122654
 102900005115168 102900011008676 102900005115199 102900011018132
 102900011008577 102900005115977 102900005115748 102900011011669
 102900011009277 102900011000571 106949711300068 106930274220092
 102900011021699 102900011021842 106958851400125 102900011000632
 102900011022030 102900011022764 106973223300667 102900011008133
 102900011022849 102900005116905 102900051010790 102900011002414
 102900051009220 102900011022924 102900005116639 102900011015391
 102900011008515 102900011007471 102900011023075 102900011024010
 102900005117353 102900011026502 102900005116806 102900011006955
 102900011008485 102900011000861 102900011026793 102900011027479
 102900011000335 102900011027615 102900011008492 102900011027462
 102900051000890 102900011007495 102900005128748 102900011023464
 102900011028407 106949711300167 102900011029176 102900005119104
 106971533450003 102900011029688 102900011029275 102900011030134
 102900011030103 102900011030158 102900011030097 102900011030110
 102900011030141 102900011030059 102900011030042 102900051006229
 102900011031100 102900011021644 102900011030622 102900011030561
 102900011030615 102900011030608 102900011030639 102900011031599
 102900011031582 102900011031759 106971533455008 106957634300058
 106957634300010 102900011031742 106949711300259 102900011031926
 102900011031735 102900011032022 102900011032282 102900011031995
 102900011029305 102900011009772 102900011032237 102900011032206
 102900011031841 102900011030912 102900011032213 102900011032244
 102900011032114 102900011032220 102900011032251 102900011032350
 102900011032367 102900011032176 102900011015384 102900011032343
 102900011032640 102900011032787 102900011032633 102900011032626
 102900011032589 102900011032619 102900011032732 102900011032848
 102900011033081 102900011033234 102900011033241 102900011033562
 102900011033586 102900011033531 102900011033968 102900011033906
 102900011034200 102900011033173 102900011034231 102900011033937
 102900011033920 102900011034224 102900011034217 102900011033944
 102900011033913 106931885000356 106971563780002 102900011034316
 102900011034323 102900011034330 102900011034354 102900011026618
 102900011029299 102900011034262 102900011034026 102900011030929
 106973990980123 102900011034569 102900011034439 102900011033975
 102900011033982 102900011035078 102900011031858 102900011011058
 102900011030905 102900011033999 102900011035481 102900011035511
 102900005115625 102900011035788 102900011035771 102900011035764
 102900011012482 102900011035962 102900011031216 106930274620090
 102900011036068 102900011034705 102900011030400 102900011030417
 102900011035740 102900011034538 102900011023976 102900011036266
 102900011032480 102900011036242 102900011035849 102900011021675
 106972776821582 102900011036686]

Unique values in column 'Quantity_Sold_(kilo)':
[ 0.396  0.849  0.409 ... 30.     0.998  2.242]

Unique values in column 'Unit_Selling_Price_(RMB/kg)':
[7.600e+00 3.200e+00 1.000e+01 8.000e+00 6.000e+00 1.800e+01 1.400e+01
 9.000e+00 1.600e+01 3.980e+01 4.000e+00 2.580e+01 1.200e+01 7.000e+00
 6.900e+00 6.400e+00 7.000e-01 1.980e+01 3.800e+00 3.400e+00 6.100e+00
 6.500e+00 6.300e+00 3.760e+01 3.600e+00 5.900e+00 1.320e+01 5.600e+00
 8.400e+00 1.780e+01 1.100e+01 6.800e+00 7.800e+00 9.700e+00 3.500e+00
 1.360e+01 1.170e+01 5.800e+00 6.600e+00 1.700e+01 1.560e+01 1.300e+01
 5.700e+00 9.300e+00 3.100e+00 6.200e+00 5.300e+00 4.800e+00 6.700e+00
 5.000e+00 3.000e-01 1.870e+01 9.500e+00 1.510e+01 9.100e+00 5.500e+00
 4.500e+00 7.200e+00 1.080e+01 1.810e+01 7.500e+00 9.200e+00 1.470e+01
 7.300e+00 1.180e+01 1.350e+01 1.680e+01 2.380e+01 1.460e+01 1.890e+01
 5.200e+00 2.400e+00 1.310e+01 7.400e+00 8.600e+00 1.130e+01 1.440e+01
 4.700e+00 1.260e+01 2.320e+01 1.520e+01 2.450e+01 1.120e+01 1.490e+01
 7.900e+00 5.400e+00 3.700e+00 1.850e+01 1.010e+01 5.100e+00 1.840e+01
 9.400e+00 1.070e+01 7.100e+00 1.760e+01 4.200e+00 8.500e+00 8.900e+00
 1.030e+01 1.090e+01 2.270e+01 1.220e+01 1.690e+01 8.200e+00 1.050e+01
 4.600e+00 1.540e+01 5.000e-01 1.700e+00 9.600e+00 4.300e+00 8.800e+00
 1.060e+01 1.910e+01 1.160e+01 1.140e+01 1.530e+01 1.190e+01 1.270e+01
 1.210e+01 2.800e+00 7.700e+00 2.240e+01 1.630e+01 2.980e+01 1.290e+01
 1.500e+01 1.640e+01 1.150e+01 1.110e+01 9.000e-01 2.560e+01 1.880e+01
 1.730e+01 4.100e+00 1.580e+01 1.330e+01 2.330e+01 8.700e+00 4.000e-01
 1.390e+01 1.500e+00 2.220e+01 1.710e+01 8.300e+00 2.900e+00 1.790e+01
 1.830e+01 8.100e+00 1.720e+01 1.250e+01 3.000e+00 2.300e+00 2.700e+00
 2.180e+01 1.040e+01 1.480e+01 1.650e+01 1.280e+01 3.900e+00 2.190e+01
 2.160e+01 1.770e+01 1.900e+01 2.200e+00 1.020e+01 3.300e+00 2.500e+00
 1.230e+01 1.200e+00 1.820e+01 1.620e+01 2.600e+00 2.000e+00 1.240e+01
 1.900e+00 1.340e+01 4.400e+00 8.000e-01 1.750e+01 1.800e+00 9.800e+00
 1.450e+01 4.900e+00 1.370e+01 1.670e+01 1.860e+01 2.100e+00 1.400e+00
 1.600e+00 1.740e+01 2.340e+01 1.430e+01 1.930e+01 1.000e+00 3.180e+01
 1.660e+01 1.410e+01 1.570e+01 2.000e-01 1.000e-01 1.380e+01 1.100e+00
 1.300e+00 2.290e+01 2.370e+01 3.380e+01 2.360e+01 1.160e+02 7.580e+01
 2.760e+01 2.780e+01 4.980e+01 5.980e+01 9.980e+01 6.980e+01 3.580e+01
 5.580e+01 4.580e+01 9.900e+00 1.000e+02 7.980e+01 6.580e+01 5.380e+01
 1.990e+01 1.970e+01 1.960e+01 2.960e+01 2.620e+01 2.350e+01 2.150e+01
 1.590e+01 3.360e+01 3.160e+01 3.560e+01 4.560e+01 3.960e+01 4.960e+01
 5.160e+01 7.160e+01 9.160e+01 2.050e+01 2.070e+01 1.420e+01 2.170e+01
 5.960e+01 2.210e+01 1.199e+02 7.200e+01 4.170e+01 2.260e+01 3.280e+01
 2.880e+01 3.780e+01 8.560e+01 7.960e+01 2.390e+01 2.400e+01 1.920e+01
 2.000e+01 2.200e+01 4.780e+01 2.600e+01 2.080e+01]

Unique values in column 'Sale_or_Return':
['sale' 'return']

Unique values in column 'Discount_(Yes/No)':
['No' 'Yes']

In [262]:
wholesale_df

             Date        Item Code  Wholesale Price (RMB/kg)
0      2020-07-01  102900005115762                      3.88
1      2020-07-01  102900005115779                      6.72
2      2020-07-01  102900005115786                      3.19
3      2020-07-01  102900005115793                      9.24
4      2020-07-01  102900005115823                      7.03
...           ...              ...                       ...
55977  2023-06-30  102900051000944                     18.00
55978  2023-06-30  102900051004294                      6.45
55979  2023-06-30  102900051010455                      4.48
55980  2023-06-30  106949711300259                      1.45
55981  2023-06-30  106971533450003                      1.95

[55982 rows x 3 columns]

In [263]:
wholesale_df.columns = wholesale_df.columns.str.replace(" ", "_")

In [264]:
wholesale_df.isnull().sum()

Date                        0
Item_Code                   0
Wholesale_Price_(RMB/kg)    0
dtype: int64

In [265]:
for column in wholesale_df.columns:
    unique_values = wholesale_df[column].unique()
    print(f"Unique values in column '{column}':")
    print(unique_values)
    print()

Unique values in column 'Date':
['2020-07-01' '2020-07-02' '2020-07-03' ... '2023-06-28' '2023-06-29'
 '2023-06-30']

Unique values in column 'Item_Code':
[102900005115762 102900005115779 102900005115786 102900005115793
 102900005115823 102900005115908 102900005115946 102900005115960
 102900005115984 102900005116226 102900005116233 102900005116257
 102900005116509 102900005116530 102900005116547 102900005116714
 102900005116790 102900005116912 102900005116943 102900005117056
 102900005117209 102900005118817 102900005118824 102900005118831
 102900005119944 102900005119975 102900005123880 102900005125808
 102900005125815 102900011001219 102900011006948 102900011008522
 102900011009970 102900051000944 102900051004294 102900051010455
 102900011000328 102900011006689 102900011001813 102900011009444
 102900005116837 102900005115816 102900005116899 102900005115861
 106956146480203 106956146480197 102900011011546 102900011001806
 102900011001561 102900005116219 102900011000175 102900011007969
 102900011009246 102900011012994 102900011013274 102900005115885
 102900011001691 102900011008164 102900011010891 102900051000463
 102900051009336 102900005119968 102900011016909 102900005116905
 102900011016701 102900011007464 102900005115878 102900005115250
 102900005119098 102900011012871 102900011010563 102900011007044
 106931885000035 102900005118572 102900005115854 102900011018095
 102900005122654 102900005115168 102900011011782 102900011008676
 102900005115199 102900011018132 102900011008577 102900005115977
 102900005115748 102900011011669 102900011009277 102900011000571
 106949711300068 106930274220092 102900011021699 102900005119104
 102900011021842 106958851400125 102900011000632 102900011022030
 102900011022764 106973223300667 102900011008133 102900011022849
 102900011002414 102900051010790 102900051009220 102900011022924
 102900005116639 102900011008515 102900011015391 102900011007471
 102900011023075 102900005116776 102900011006955 102900011024010
 102900005117353 102900011026502 102900005116806 102900011008485
 102900011000861 102900011026793 102900011027479 102900011000335
 102900011008492 102900011027615 102900011027462 102900051000890
 102900011007495 102900005128748 102900011023464 102900011028407
 106949711300167 102900011029176 106971533450003 102900011029688
 102900011029275 102900011030097 102900011030103 102900011030110
 102900011030134 102900011030141 102900011030158 102900011030042
 102900011030059 102900051006229 102900011031100 102900011021644
 102900011030561 102900011030615 102900011030622 102900011030608
 102900011029305 102900011030639 102900011031599 102900011031582
 102900011031759 106957634300010 106957634300058 106971533455008
 102900011031742 106949711300259 102900011031735 102900011031926
 102900011032022 102900011032282 102900011031995 102900011009772
 102900011032237 102900011030912 102900011031841 102900011032206
 102900011032213 102900011032244 102900011032114 102900011032220
 102900011032251 102900011032350 102900011032367 102900011031216
 102900011032176 102900011015384 102900011032343 102900011032589
 102900011032626 102900011032633 102900011032640 102900011032787
 102900011032619 102900011032732 102900011032848 102900011021675
 102900011033081 102900011033234 102900011033241 102900011032145
 102900011033562 102900011033586 102900011033531 102900011033173
 102900011033906 102900011033968 102900011034200 102900011034231
 102900011033920 102900011033937 102900011033944 102900011034217
 102900011034224 102900011033913 102900005116042 106931885000356
 102900011023648 106971563780002 102900011034316 102900011034323
 102900011034330 102900011034354 102900011026618 102900011029299
 102900011034262 102900011034026 102900011030929 106973990980123
 102900011034569 102900011034439 102900011033975 102900011033982
 102900011035078 102900011031858 102900011011058 102900011030905
 102900011033999 102900011035481 102900011035511 102900005115625
 102900011035771 102900011035788 102900011035764 102900011012482
 102900011035962 106930274620090 102900011036068 102900011034705
 102900011030400 102900011030417 102900011035740 102900011034538
 102900011023976 102900011036266 102900011032480 102900011036242
 102900011035849 106972776821582 102900011036686]

Unique values in column 'Wholesale_Price_(RMB/kg)':
[ 3.88  6.72  3.19 ... 18.18 18.28 18.27]

In [266]:
avg_loss_df

,Item Code,Item Name,Loss Rate (%)
0,102900005115168,Niushou Shengcai,4.39
1,102900005115199,Sichuan Red Cedar,10.46
2,102900005115250,Xixia Black Mushroom (1),10.80
3,102900005115625,Local Xiaomao Cabbage,0.18
4,102900005115748,White Caitai,8.78
...,...,...,...
246,106971533455008,Haixian Mushroom (Bag) (3),1.30
247,106971563780002,Xianzongye (Bag) (2),0.00
248,106972776821582,Xianzongye (Bag) (3),9.43
249,106973223300667,Chinese Caterpillar Fungus Flowers (Box) (2),11.13
250,106973990980123,Hfyg Haixian Mushroom (Bunch),0.12

In [267]:
avg_loss_df.columns = avg_loss_df.columns.str.replace(" ", "_")

In [268]:
avg_loss_df.isnull().sum()

Item_Code        0
Item_Name        0
Loss_Rate_(%)    0
dtype: int64

# Duplicates checking

In [269]:
item_cat_df.duplicated().value_counts()

False    251
Name: count, dtype: int64

In [270]:
sales_df.duplicated().value_counts()

False    878503
Name: count, dtype: int64

In [271]:
wholesale_df.duplicated().sum()

0

In [272]:
avg_loss_df.duplicated().sum()

0

In [273]:
sales_df.dtypes

Date                            object
Time                            object
Item_Code                        int64
Quantity_Sold_(kilo)           float64
Unit_Selling_Price_(RMB/kg)    float64
Sale_or_Return                  object
Discount_(Yes/No)               object
dtype: object

In [274]:
sales_df['Date'] = pd.to_datetime(sales_df['Date'])

In [275]:
sales_df.dtypes

Date                           datetime64[ns]
Time                                   object
Item_Code                               int64
Quantity_Sold_(kilo)                  float64
Unit_Selling_Price_(RMB/kg)           float64
Sale_or_Return                         object
Discount_(Yes/No)                      object
dtype: object

In [276]:
wholesale_df.dtypes

Date                         object
Item_Code                     int64
Wholesale_Price_(RMB/kg)    float64
dtype: object

In [277]:
wholesale_df['Date'] = pd.to_datetime(wholesale_df['Date'], format = "%Y-%m-%d")

In [278]:
avg_loss_df.dtypes

Item_Code          int64
Item_Name         object
Loss_Rate_(%)    float64
dtype: object

Data Merging:

In [279]:
print(sales_df['Date'].min(), sales_df['Date'].max())
print(wholesale_df['Date'].min(), wholesale_df['Date'].max())

2020-07-01 00:00:00 2023-06-30 00:00:00
2020-07-01 00:00:00 2023-06-30 00:00:00

In [280]:
sales_wholesale_df = pd.merge(sales_df, wholesale_df, how = 'left', on = ['Item_Code', "Date"])
sales_wholesale_df.head()

,Date,Time,Item_Code,Quantity_Sold_(kilo),Unit_Selling_Price_(RMB/kg),Sale_or_Return,Discount_(Yes/No),Wholesale_Price_(RMB/kg)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,4.32
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,2.10
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,4.32
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,7.03
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,4.60

In [281]:
sales_wholesale_df.isnull().sum()

Date                           0
Time                           0
Item_Code                      0
Quantity_Sold_(kilo)           0
Unit_Selling_Price_(RMB/kg)    0
Sale_or_Return                 0
Discount_(Yes/No)              0
Wholesale_Price_(RMB/kg)       0
dtype: int64

In [282]:
sales_wholesale_cat_df = pd.merge(sales_wholesale_df, item_cat_df, how = 'left', on = ['Item_Code'])
sales_wholesale_cat_df.head()

,Date,Time,Item_Code,Quantity_Sold_(kilo),Unit_Selling_Price_(RMB/kg),Sale_or_Return,Discount_(Yes/No),Wholesale_Price_(RMB/kg),Item_Name,Category_Code,Category_Name
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,2.10,Chinese Cabbage,1011010101,Flower/Leaf Vegetables
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,7.03,Shanghaiqing,1011010101,Flower/Leaf Vegetables
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,4.60,Caixin,1011010101,Flower/Leaf Vegetables

In [283]:
sales_wholesale_cat_df.isnull().sum()

Date                           0
Time                           0
Item_Code                      0
Quantity_Sold_(kilo)           0
Unit_Selling_Price_(RMB/kg)    0
Sale_or_Return                 0
Discount_(Yes/No)              0
Wholesale_Price_(RMB/kg)       0
Item_Name                      0
Category_Code                  0
Category_Name                  0
dtype: int64

In [284]:
data = pd.merge(sales_wholesale_cat_df, avg_loss_df, how = 'left', on = ['Item_Code','Item_Name'])
data.head()

,Date,Time,Item_Code,Quantity_Sold_(kilo),Unit_Selling_Price_(RMB/kg),Sale_or_Return,Discount_(Yes/No),Wholesale_Price_(RMB/kg),Item_Name,Category_Code,Category_Name,Loss_Rate_(%)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum,7.08
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,2.10,Chinese Cabbage,1011010101,Flower/Leaf Vegetables,22.27
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum,7.08
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,7.03,Shanghaiqing,1011010101,Flower/Leaf Vegetables,14.43
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,4.60,Caixin,1011010101,Flower/Leaf Vegetables,13.70

In [285]:
data.isnull().sum()

Date                           0
Time                           0
Item_Code                      0
Quantity_Sold_(kilo)           0
Unit_Selling_Price_(RMB/kg)    0
Sale_or_Return                 0
Discount_(Yes/No)              0
Wholesale_Price_(RMB/kg)       0
Item_Name                      0
Category_Code                  0
Category_Name                  0
Loss_Rate_(%)                  0
dtype: int64

In [286]:
data.head()

,Date,Time,Item_Code,Quantity_Sold_(kilo),Unit_Selling_Price_(RMB/kg),Sale_or_Return,Discount_(Yes/No),Wholesale_Price_(RMB/kg),Item_Name,Category_Code,Category_Name,Loss_Rate_(%)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum,7.08
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,2.10,Chinese Cabbage,1011010101,Flower/Leaf Vegetables,22.27
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,4.32,Paopaojiao (Jingpin),1011010504,Capsicum,7.08
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,7.03,Shanghaiqing,1011010101,Flower/Leaf Vegetables,14.43
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,4.60,Caixin,1011010101,Flower/Leaf Vegetables,13.70

In [287]:
data.to_csv('dataset\merged_data.csv', index=False)